sim_build/
fusesoc_libraries/
__pycache__/
firmware.bin
test.txt
sim_build/dump.fst
sim_build/dump.vcd
sim_build/mesh_router.v
sim_build/mesh_router.vcd
sim_build/mesh_router.vpd
sim_build/mesh_router.vst
sim_build/mesh_router.vst.gz
sim_build/mesh_router.vst.gz.md5
sim_build/mesh_router.vst.gz.sha256
sim_build/mesh_router.vst.gz.sha512
sim_build/mesh_router.vst.md5
sim_build/mesh_router.vst.sha256
sim_build/mesh_router.vst.sha512
